<ul class="nav nav-tabs">
  <li class="active"><a href="/">Home</a></li>
  <li><a href="/help">Help</a></li>
  <li><a href="#">SignUp/In</a></li>
  <li><a href="localhost:3000/tasks">Your To Do List</a></li>
</ul>

 <ul ><ul><ul ><ul ><ul >
<h1 >Editing task</h1>
<body background="http://25.media.tumblr.com/721a9a32e2aa785fed67ca95043ed76b/tumblr_mygb37aq7J1qcj8jbo1_1280.jpg" /> 


<%= render 'form' %>

<%= link_to 'Show', @task %> |
<%= link_to 'Back', tasks_path %>

</ul></ul></ul></ul></ul>
