<html> 

  <head> 

<h1 style ="text-align:center;"><strong><em><font color = "202020 "> Time is a precious commodity </font></em></strong></h1>

<body background="http://24.media.tumblr.com/318dc8ff52d90e671826d53bfa5d14dd/tumblr_mzk1vfihQt1qa42jro1_500.jpg" /> 
  
  </head> 

  <body> 

    <p style ="text-align:center;"><font size = "5"> <strong><font color = "#006699 "><font-family: "HelveticaNeue-Light;"><em>Two fine gentlemen, Jaime & Vinch, want you to make the most out of your life.</em></font></font></font></strong> </p>

<ul id="nav">
  <li><u><a href="localhost:3000/help"><font color = "006699">Help</a></font></u></li>
  <li><u><a href="#"><font color = "006699">Sign Up</a></font><u></li>
  <li><u><a href="#"><font color = "006699">Login</a></font></u></li>
  <li><u><a href="localhost:3000/tasks"><font color = "006699">Your ToDo List</a></font></u></li>
</ul>
  </body>

</html> 