<html> 
<ul class="nav nav-tabs">
  <li class="active"><a href="/">Home</a></li>
  <li><a href="/help">Help</a></li>
  <li><a href="#">SignUp/In</a></li>
  <li><a href="/tasks">Your To Do List</a></li>
  <li><a href="tasks/completed">Completed</a></li>
</ul>

<br>

<head> 
<ul><ul><ul><ul>
<h1 style ="text-align:left;"><strong><em><font color = "ffffff "><font size = "7"> How does it work?  </font></font></em></strong></h1>
</ul></ul></ul></ul>

<body background="http://3.bp.blogspot.com/-vPqki1zoRS8/UhCc5PrT5vI/AAAAAAAAo5M/xtIU6eWz_jA/s1600/Coffee%2BPhotography%2B5.jpg" /> 
</head> 

<br><br><br>
 <body> 

 <ul> <font color = "F4A460"><font size = "6"><h3 style ="text-align:left;"> Simple Steps to Success </font></font> </h3> 
 	<br>

  <p style ="text-align:left;"> <font color = "FFF5EE"><font size = "4">1. Sign up & Create an Account with V&J!</font></font></p>
  <p style ="text-align:left;"> <font color = "F4A460"><font size = "4">2. Create TASKS by clicking the <u>New Task</u> button. </font></font></p>
  <p style ="text-align:left;"> <font color = "FFF5EE"><font size = "4"> 3. Make sure to fill up all the fields to ensure effectivity <br> (i.e Task, Category, Due Date) </font></font></p>
  <p style ="text-align:left;"> <font color = "F4A460"><font size = "4"> 4. Once you accomplish a  task, simply check the box <br>assigned to the task, and mark the task as completed <br> by hitting the Complete Task button </font></font></p>
  <p style ="text-align:left;"> <font color = "FFF5EE"><font size = "4"> 5. Head over to localhost:3000/task/completed <br> to review your completed actions</font></font> </p> 
  <p style ="text-align:left;"> <font color = "F4A460"><font size = "4"> 6. Repeat religously for best results </font></font></p> 

</ul>


 </body>








</html> 