<!DOCTYPE html>
<html>
<head>
  <title>Finalprojv3</title>
  <%= stylesheet_link_tag    "theme", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "theme", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<ul>
<div id="footer" >
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	
	<p style ="text-align:left;"><font color = "000000"> <span class="label label-default">V&J&#8482; 2014 </font></span></p> 
</ul>	
</div>



</body>
</html>
